# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env

# Downloaded audio
downloads/

# Chroma local db
vector_db/

uploads/

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# OS files
.DS_Store

downloads/

__pycache__/